
.board {
  margin: 20px auto;
}
body{
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 800;
  font-style: normal;
}
.header-nav {
  background: #fafafa8a;
  padding: 20px 50px !important;
  justify-content: space-between !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-bottom: 2px solid #f3e7e7;
}

.logo-div a {
  font-size: 25px;
  text-decoration: none;
  color: #111;
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 800;
}

.logo-div a img {
  height: 50px;
}

.nav-links a {
  text-decoration: none;
  font-size: 18px;
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 800;
  color: #222;
  margin: 0px 0px 0px 40px;
}

.nav-links a.active {
  color: #912222;
}
.random-color a img {
    height: 70px;
}

.random-color a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 38px;
    text-decoration: none;
    color: #333536;
}

.producs-container {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 10% 20px;
}

.product-card {
  width: 23%;
  padding: 10px;
  border: 1px solid gray;
  margin: 0px auto 20px;
  border-radius: 6px;
      color: #444;
}

.product-card h1 {
  font-size: 22px;
  font-weight: bold;
  color: #2784e9;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-card img {
  height: 185px;
  margin: 0px auto;
  display: block;
  width: auto;
}

.product-card button {
  background: #3555b3;
  padding: 6px 10px;
  font-weight: 700;
  color: #fff;
  border: 1px solid #3555b3;
  border-radius: 4px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 0px 0px 20px; 
}

.pagination span {
  border: 1px solid #333;
  padding: 4px;
  margin: 0px 4px;
}

button.page.active {
  background: #0006ff;
  color: #fff;
  border: 1px solid #0006ff;
}

button.page:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.product-card p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

button.page {
  margin: 4px;
      width: 32px;
    height: 32px;
}
.producs-container a {
    text-decoration: none;
}
.product-page-Details {
    text-align: center;
    margin: 20px;
}
